media/documents/*
media/help_docs/*
media/documents/*
media/documents_covers/*

# Ignorar entornos virtuales de Python
venv/
.venv/

# Archivos de caché de Python
migrations/_pycache_/
*.pyc
*.pyo
*.pyd

# Archivos de configuración y credenciales sensibles
.env
*.sqlite3

# Archivos de logs
logs/
*.log

# Configuración de editores de código
.vscode/
.idea/
*.swp
.DS_Store
