asgiref==3.8.1
awscli==1.38.35
boto3==1.37.35
botocore==1.37.35
colorama==0.4.6
Django==5.1.7
django-cleanup==9.0.0
django-storages==1.14.6
docutils==0.19
gunicorn==23.0.0
jmespath==1.0.1
packaging==24.2
pillow==11.1.0
pyasn1==0.6.1
PyMuPDF==1.25.5
python-dateutil==2.9.0.post0
PyYAML==6.0.2
rsa==4.7.2
s3transfer==0.11.4
six==1.17.0
sqlparse==0.5.3
tzdata==2025.1
urllib3==2.4.0
whitenoise==6.9.0