{% extends "base.html" %}
{% block title %}Restablecer contraseña{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-6">

    <h1 class="mb-3 text-center">Restablecer contraseña</h1>
    <p>
      Introduce tu correo electrónico y te enviaremos un enlace para crear
      una nueva contraseña.
    </p>

    <form method="post">
      {% csrf_token %}
      {{ form.email.label_tag }}
      {{ form.email }}
      <button class="btn btn-primary w-100 mt-3" type="submit">
        Enviar enlace
      </button>
    </form>

  </div>
</div>
{% endblock %}
